img {
  max-width: 200px;
  max-height: 100px;
  float: left;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  float: left;
  background-color: yellow;
}

.column2 {
  width: 33%;
  float: left;
  background-color: purple;
}

.column3 {
  width: 33%;
  float: left;
  background-color: red;
}

body {
  background-color: #ADEAEA;
}
